body {
  background-color: rgb(192, 192, 192);
  
}

.container {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.image {
  width: 670px;
  margin-top: 10px;
}

@media only screen and (max-width: 770px) {
  .container {
    margin: 0 10%;
  }

  .image {
    width: 100%;
  }
}
